@import '~materialize-css/sass/materialize';

.d-f {
   display : flex !important;
}

.jc-c {
   justify-content : center;
}

.mr-1 {
   margin-right : 0.75rem !important;
}

.px-1 {
   padding-right : 0.75rem !important;
   padding-left  : 0.75rem !important;
}

.pt-3 {
   padding-top : 2rem !important;
}
